* {
    margin: 0;
    padding: 0;
}

body {
    background: #e8e8e8;
}

.cabecalho {
    background: #3b89da;

}

.container {
    padding: 0 10%; /* 0% top-bottom & 10% left-right */
}

.cartao {
    background: #ebef40;
    margin: 16px;
    padding: 16px;
}

#mudaLayout {
    display: none;
}

@media(min-width: 560px) {
    .cartao {
        width: 190px;
        box-sizing: border-box;
        display: inline-block;
        text-align: left;
        flex-grow: 1;
    }
    
    .mural {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    
    .mural--linhas {
        flex-direction: column;
    }
    
    .mural--linhas .cartao {
        width: auto;
    }
    
    #mudaLayout {
        display: inline-block;
    }
}